<% provide(:title, 'Home') %>
<div class="center hero-unit">
<% if user_signed_in? %>
<h1>Welcome <%= current_user.nickname %></h1>
<% else %>
<h1>Welcome to C Share</h1>
<h2>
	This is the homepage for whatever this is, or whatever it ends up being
</h2>

<%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-primary" %>
<% end %>
</div>


