<% if @schedule_items.any? %>
<table class="table">
	<tr>
		<th>Title</th>
		<th>Time</th>
		<th>Location</th>
	</tr>
	<%= render partial: 'shared/schedule_item', collection: @schedule_items %>
</table>
<% end %>