<% @event = event_att %>
<div id="attend_form-<%= @event.id %>">
	<% if current_user.attending?(@event) %>
		<%= render  'events/unattend' %>
	<% else %>
		<%= render 'events/attend' %>
	<% end %>
</div>
